.gallery {
    /* background-color: black; */
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 150px;
    

    justify-content: space-around;
    margin-bottom: 20px;
    
    
}
.gallery2 {
    display: flex;
    width: 80%;
    margin-top:15px;
    margin-left: 150px;
    
    
    align-items: center;

    justify-content: space-around;
    /* background-color: black; */
    

}
.img{
    border-radius: 9px;
}
.main {
    /* background-color: black; */
}

