*{
    margin: 0px;
    padding: 0px;
}
#container{
    background-color: rgb(24, 24, 24);
    width: 100%;
}

#content{
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 1%;
    font-weight: 800;
    
}
#table{
    
    padding-left: 37%;
    padding-right: 35%;
    padding-top: 2%;
    padding-bottom:2%;
}

#table table tr td{
    width: 330px;
    height: 220px;
    background-color: white;
    /* padding-top: 7%; */
    
    
}

.fa-brands {
    padding-left: 40%;
    
}
.fa-solid{
    padding-left: 40%;
}
p{
    text-align: center;
}
.tt{
    color: red;
    font-weight: 550;
}





